Recursion/Self-Reference

Question: what is the best way to handle Recursion/Self-References in YANG

some background:

-------- Forwarded Message --------
Subject: 	Re: [Rtg-yang-coord] issue :R01: route filters
Date: 	Tue, 13 Jan 2015 11:30:09 +0100
From: 	Ladislav Lhotka <lhotka nic....>
To: 	Qin Wu <bill.wu huawei....>
CC: 	rtg-yang-coord ietf....<rtg-yang-coord ietf....>, stephane.litkowski orange....<stephane.litkowski orange....>, Anees Shaikh <aashaikh google....>


> On 13 Jan 2015, at 11:24, Qin Wu <bill.wu@huawei...> wrote:
> 
> Anees:
> I am wondering how does nested policy work, recursive by using grouping and allow grouping to contain itself?  why there is no attribute to limit the depth of the recursion or nest depth?

YANG groupings cannot be used recursively, see sec. 7.11 in RFC 6020.

Lada

Proposed solution: Use lists and indexes as pointers.


Moved to https://github.com/ietf-rtg-area-yang-arch-dt/conventions-features/issues/1
